@tailwind base;

@tailwind components;

@tailwind utilities;

html,
body {
  margin: 0;
  height: 100%;
  min-height: 100%;
}

pre code {
  display: block;
  background-color: #eee;
  border: 1px solid #999;
  overflow-x: auto;
  padding: 20px;
}

input:focus {
  outline: none;
}

main {
  grid-area: content;
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

#root {
  display: grid;
  grid-gap: 0;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 0fr 3fr 0fr;
  height: 100%;
}
